:root {
    --primary: #F8F3F6;
    --secondary: #2a1501;
    --tertiary: #a26666;
    --cloudblue: #87b5dd;
}

* {
    box-sizing: border-box;
}


@font-face {
    font-family: 'alagard';
    src: url("../fonts/alagard.ttf") format("truetype");
}

body {
    background-color: var(--primary);
    background-image: url('../wallpapers/clouds.png');
    color: var(--secondary);
    padding: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'alagard';
    font-weight: 300;
    box-sizing: border-box;
    margin: 0;
}
.dotted {
	border: 2px dotted var(--secondary);
}
.top {
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding:  0 10vh;
  top: 0;
  left: 5%;
  width: 90%;
  height: 15vh;
  z-index: 1000;
  color: black;
}
.topBackground {
  position: absolute;
  top: 0;
  left: 5%;
  width: 90%;
  height: 100%;
  z-index: -10;
  padding: auto;
  background-image: linear-gradient(var(--cloudblue),var(--primary));
  transform: perspective(25vh) rotateX(-10deg);
}
.top * {
  will-change: transform;
}
.bottom {
  margin-top: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute; /* Change to absolute */
  bottom: 0;
  left: 5%;
  width: 90%;
  height: 15vh;
  z-index: 1000;
  color: black;
}
.bottomBackground {
  position: absolute;
  bottom: 0;
  left: 5%;
  width: 90%;
  height: 100%;
  z-index: -10;
  background-image: linear-gradient(var(--primary),var(--cloudblue));
  transform: perspective(25vh) rotateX(10deg);
}
.bottom * {
  will-change: transform;
}
.loginLinks {
  position: absolute;
  left: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between
  height: 100%;
}
.loginLinks * {
  margin: 0;
}
.settingsLinks {
  position: absolute;
  right: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between
  height: 100%;
}
.settingsLinks * {
  margin: 0;
}
.center * {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  background-color: #f8f3f7;
  width: 75vw;
  height: 63vh;
  padding: 2vh;
  margin: auto 12.5vw;
  overflow-y: auto;
  overflow-x: hidden;
}
#window {
    width: 80%;
    height: 100%;
    padding-top: 1%;
    border-radius: 1%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    background-color: var(--primary);
}

.small {
    font-size: 0.7em;
    padding: 0;
    margin: 0;
} 

.no-margin {
    margin: 0;
    padding: 0;
}

.hidden-link {
    color: inherit;
    text-decoration: none;
}

.window-top {
    width: 100%;
    height: 5vh;
    font-size: 2vh;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: row;
    padding: 1px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary);
}

.window-links {
    position: absolute;
    top: 4vh;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 1px;
    width: 100%;
    background-color: var(--primary);
    border-bottom: var(--secondary) 1px solid;
}

.window-content {
    width: 100%;
    height: 100%;
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

#the-web-is-silly {
    width: 100%;
}

.logo-img {
    height: 4vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.container {
    width: 100%;
    height: 100%;
    padding: 3vh 0;
    overflow-y: scroll;
    box-sizing: border-box;
}

.tos {
    font-size: arial;
}

.row, .column {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto, 1fr);
    grid-auto-flow: column;
    grid-gap: 10px;
    height: 100%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    justify-items: center; 
    align-items: start;
    position: relative
}

.z-index-1000 {
    z-index: 1000;
}
.blur-background {
    filter: blur(5px);
}

.dashboard-container {
position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.dashboard-container * {
	z-index: 10;
}

.floating-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

.dropzone {
    border: none !important;
    color: var(--tertiary);
    width: 100%;
    height: 100%;
    z-index: 1 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dz-drag-hover {
    background-color: red !important;
}

.background-none {
    background-color: transparent !important;
}

.dashboard-hidden-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icon {
    image-rendering: pixelated;
    height: 100px;
    width: 100px;
}

.dashboard-icon {
    height: 200px;
    font-size: 20px;
    width: 180px;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    text-wrap: wrap;
    z-index: 5;
}

.dashboard-rename-form {
    width: 100%;
}

.dashboard-rename-form input {
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1px solid var(--secondary);
    background-color: var(--primary);
    color: var(--secondary);
    font-size: 1em;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    z-index: 100;
}

.dashboard-icon .dashboard-close, .dashboard-icon .dashboard-rename, .dashboard-submit * {
    color: var(--secondary);
    cursor: pointer;
    background-color: transparent;
    border-radius: 3px;
    transition: 0.2s;
    z-index: 1000;
}

.dashboard-icon .dashboard-close {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-25%);
}
.dashboard-icon .dashboard-rename {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(25%);
    display: none;
}

.dashboard-icon:hover .dashboard-close:hover, .dashboard-icon:hover .dashboard-rename:hover {
    background-color: var(--secondary);
    color: var(--primary);
}

@media screen and (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .dashboard-rename {
        display: block;
    }
    #window {
        width: 100%;
    }
}
