:root {
    --primary: #F8F3F6;
    --secondary: black;
}


@font-face {
    font-family: 'alagard';
    src: url("../fonts/alagard.ttf") format("truetype");
}

body {
    background-color: var(--primary);
    color: var(--secondary);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'alagard';
    font-weight: 300;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#window {
    width: 70%;
    height: 100%;
    margin-top: 1%;
    border-radius: 1%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
}

.hidden-link {
    color: inherit;
    text-decoration: none;
}

.window-top {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: var(--secondary) 1px solid;
}

.logo-img {
    height: 100%;
    margin: 0 auto 0 0;
    box-sizing: border-box;
}

.icon {
    image-rendering:pixelated;
    height: 100px;
    width: 100px;
    margin: 0 0 0 1%;
    box-sizing: border-box;
}