:root {
    --primary: #F8F3F6;
    --secondary: #2a1501;
}


@font-face {
    font-family: 'alagard';
    src: url("../fonts/alagard.ttf") format("truetype");
}

body {
    background-color: var(--primary);
    color: var(--secondary);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'alagard';
    font-weight: 300;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#window {
    width: 80%;
    height: 100%;
    padding-top: 1%;
    border-radius: 1%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
}

.small {
    font-size: 0.7em;
    padding: 0;
    margin: 0;
} 

.no-margin {
    margin: 0;
    padding: 0;
}

.hidden-link {
    color: inherit;
    text-decoration: none;
}

.window-top {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 1px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.window-links {
    position: absolute;
    top: 4vh;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 1px;
    width: 100%;
    border-bottom: var(--secondary) 1px solid;
}

#the-web-is-silly {
    width: 100%;
}

.logo-img {
    height: 100%;
    margin: 0 auto 0 0;
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: column;
    grid-gap: 10px;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.icon {
    image-rendering:pixelated;
    height: 100px;
    width: 100px;
}

.dashboard-icon {
    image-rendering:pixelated;
    height: 150px;
    font-size : 20px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    flex-wrap: wrap;
    position: relative;
}
.dashboard-icon .dashboard-close, .dashboard-icon .dashboard-rename, .dashboard-submit * {
    color: var(--secondary);
    cursor: pointer;
    background-color: transparent;
    border-radius: 3px;
    transition: 0.2s;
    z-index: 1000;
}

.dashboard-icon .dashboard-close {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-25%);
}
.dashboard-icon .dashboard-rename {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(25%);
}

.dashboard-icon:hover .dashboard-close:hover, .dashboard-icon:hover .dashboard-rename:hover {
    background-color: var(--secondary);
    color: var(--primary);
}