#the-web-is-silly {
    position: relative;
}

.floating-text {
    background-color: #F8F3F6;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    animation: animate 1s ease-in-out infinite;
    animation-delay: calc(0.05s * var(--i));
    transition: 0.2s;
}

.floating-text:hover {
    animation: none;
    transform: translateY(-5px);
}

@keyframes animate {
    0% {
        transform: translateY(0px);
    }

    20% {
        transform: translateY(-5px);
    }

    40%,
    100% {
        transform: translateY(0px);
    }
}

@keyframes animateColor {
    0% {
        color: #CC2f00;
    }
    10% {
        color: #DB6600;
    }
    20% {
        color: #E39E00;
    }
    30% {
        color: #76B80D;
    }
    40% {
        color: #007668;
    }
    50% {
        color: #006486;
    }
    60% {
        color: #007CB5;
    }
    70% {
        color: #465AB2;
    }
    80% {
        color: #6D47B1;
    }
    90% {
        color: #874B9C;
    }
    100% {
        color: #ff00ff;
    }
}